[*.cs]

# CS0006: Metadata file 'C:\Users\magnu\OneDrive\Dokument\GitHub\labb-2-webb-MagnusSandbergITHS\WebbLabb2\Client\obj\Debug\net7.0\ref\WebbLabb2.Client.dll' could not be found
dotnet_diagnostic.CS0006.severity = warning
