@page "/adminorderedit"

@using WebbLabb2.Client.PublicClient
@using Blazored.SessionStorage

@inject PublicClient PublicClient
@inject ISessionStorageService SessionStorage

<h4>Edit customer</h4>

<div>
    <EditForm Model="CurrentSelectedOrder" OnSubmit="UpdateOrder">

        <label class="fw-bold">Order ID:</label>
        <InputText class="w-100" @bind-Value="CurrentSelectedOrder.OrderId"></InputText>

        <label class="fw-bold mt-2">Customer E-mail:</label>
        <InputText class="w-100" @bind-Value="CurrentSelectedOrder.CustomerEmail"></InputText>

        <button class="btn btn-primary mt-2 mb-5">Save</button>
    </EditForm>
</div>

@code {
    private async Task RetrieveValue()
    {
        var value = await SessionStorage.GetItemAsync<string>("orderId");
        CurrentOrderId = value;
        Console.WriteLine(value);
    }
}