@page "/adminproductadd"

@using Microsoft.AspNetCore.Components

@using WebbLabb2.Client.PublicClient
@inject PublicClient PublicClient

<link href="css/CommonStyles.css" rel="stylesheet" />

<h3>CustomerRegistration</h3>

<div>
    <EditForm Model="Product" OnSubmit="CreateProduct">

        <label class="fw-bold">First Name:</label>
        <InputText class="w-100" @bind-Value="Product.ProductName"></InputText>

        <label class="fw-bold mt-2">Last Name:</label>
        <InputText class="w-100" @bind-Value="Product.ProductDescription"></InputText>

        <label class="fw-bold mt-2">Cell Number:</label>
        <InputText class="w-100" @bind-Value="Product.ProductCategory"></InputText>

        <label class="fw-bold mt-2">Street Address:</label>
        <InputNumber class="w-100" @bind-Value="Product.ProductNumber"></InputNumber>

        <label class="fw-bold mt-2">City:</label>
        <InputNumber class="w-100" @bind-Value="Product.ProductPrice"></InputNumber>

        <label class="fw-bold mt-2">Zip Code:</label>
        <InputCheckbox class="w-100" @bind-Value="Product.ProductStatus"></InputCheckbox>

        <button class="btn btn-primary mt-2 mb-5">Save</button>

    </EditForm>
</div>
