@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <NavLink href="customerregistration">
            <button class="btn btn-primary">First login?</button>
            <p>Fill in the blanks please.</p>
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <NavLink href="/authentication/register">
            <button class="btn btn-primary">Register</button>
        </NavLink>
        <NavLink href="/authentication/login">
            <button class="btn btn-primary">Login</button>
        </NavLink>
    </NotAuthorized>
</AuthorizeView>
