@page "/customerupdate"

@using WebbLabb2.Client.PublicClient
@using Microsoft.AspNetCore.Components
@using WebbLabb2.Client.Pages.ConfirmationDialogs

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject PublicClient PublicClient

<h3>Customer Update</h3>

<div class="mt-5">
    <EditForm Model="Customer" OnValidSubmit="UpdateCustomer">
        <DataAnnotationsValidator />
        <label class="fw-bold">First Name:</label>
        <InputText class="w-100" @bind-Value="Customer.FirstName"></InputText>

        <label class="fw-bold mt-2">Last Name:</label>
        <InputText class="w-100" @bind-Value="Customer.LastName"></InputText>

        <label class="fw-bold mt-2">Email:</label>
        <InputText class="w-100" @bind-Value="Email" disabled="disabled"></InputText>

        <label class="fw-bold mt-2">Cell Number:</label>
        <InputText class="w-100" @bind-Value="Customer.CellNumber"></InputText>

        <label class="fw-bold mt-2">Street Address:</label>
        <InputText class="w-100" @bind-Value="Customer.StreetAddress"></InputText>

        <label class="fw-bold mt-2">City:</label>
        <InputText class="w-100" @bind-Value="Customer.City"></InputText>

        <label class="fw-bold mt-2">Zip Code:</label>
        <InputNumber class="w-100" @bind-Value="Customer.ZipCode"></InputNumber>

        <button class="btn btn-primary mt-2" @onmouseup="() => ShowDialog = true">Save</button>
        @if (ShowDialog)
        {
            <ConfirmationDialogAdd Title="Update Credentials" Message="You succefully updated your credentials!" OnConfirmed="@OnConfirmed" />
        }
        <ValidationSummary />
    </EditForm>
</div>